language: node_js

node_js:
  - '0.12'

# for testing multiple subdirectories (in future)
# see: https://lord.io/blog/2014/travis-multiple-subdirs/
env:
- TEST_DIR=e2e

install:
- cd $TEST_DIR
- npm install
- ./node_modules/protractor/bin/webdriver-manager update --standalone --firefox'

# see http://docs.travis-ci.com/user/gui-and-headless-browsers/
before_script:
- export DISPLAY=:99.0
- sh -e /etc/init.d/xvfb start
- 'node_modules/protractor/bin/webdriver-manager start 2>&1 &'
- sleep 3

# TODO: start own webserver (not gh-pages)

script:
- npm test

# whitelist - by default, gh-pages branch is not built unless you add it to the whitelist.
branches:
  only:
    - gh-pages
